In [1]:
!pip install pandas sqlalchemy pymysql mysql-connector-python

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.13/site-packages (2.0.39)
Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp313-cp313-macosx_14_0_arm64.whl.metadata (7.5 kB)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.13/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Downloading mysql_connector_python-9.5.0-cp313-cp313-macosx_14_0_arm64.whl (17.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.6/17.6 MB 187.4 kB/s eta 0:00:00m eta 0:00:01[36m0:00:04
Installing collected packages: pymysql, mysql-connector-python
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [mysql-connector-python]2 [mysql-connector-python]
Successfully installed mysql-connector-python-9.5.0 pymysql-1.1.2

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
username = "root"
password = "your_password"
host = "localhost"
database = "sales_dw"

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}/{database}")
print("Connected to MySQL successfully!")

Connected to MySQL successfully!

In [6]:
# First, make sure your MySQL server is running
# Then, update your connection details as needed

from sqlalchemy import create_engine
import pymysql

# Create a proper connection string with your actual credentials
# Replace these placeholder values with your actual MySQL credentials
engine = create_engine('mysql+pymysql://root:password@localhost:3306/your_database')

# Alternative: You can try specifying the socket if default port connection fails
# engine = create_engine('mysql+pymysql://root:password@localhost/your_database?unix_socket=/tmp/mysql.sock')

# Before executing queries, test the connection
try:
    # Test connection
    with engine.connect() as connection:
        print("Connection successful!")
        
        create_tables_query = """
        CREATE TABLE IF NOT EXISTS sales_staging (
            order_id INT,
            order_date DATE,
            customer_name VARCHAR(100),
            product VARCHAR(100),
            category VARCHAR(50),
            quantity INT,
            price DECIMAL(10,2)
        );

        CREATE TABLE IF NOT EXISTS sales_fact (
            order_id INT PRIMARY KEY,
            order_date DATE,
            customer_name VARCHAR(100),
            product VARCHAR(100),
            category VARCHAR(50),
            quantity INT,
            price DECIMAL(10,2),
            total_amount DECIMAL(10,2)
        );
        """

        # Execute each statement separately
        for stmt in create_tables_query.split(";"):
            if stmt.strip():
                connection.execute(stmt)
                
        print("Tables created successfully!")
        
except Exception as e:
    print(f"Connection error: {e}")
    print("\nTroubleshooting steps:")
    print("1. Verify MySQL server is running (e.g., 'sudo service mysql status' on Linux)")
    print("2. Check your username and password")
    print("3. Ensure the database exists")
    print("4. Check if MySQL is listening on the expected port (default: 3306)")
    print("5. Verify firewall settings allow connections to MySQL")

Connection error: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'localhost' ([Errno 61] Connection refused)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Troubleshooting steps:
1. Verify MySQL server is running (e.g., 'sudo service mysql status' on Linux)
2. Check your username and password
3. Ensure the database exists
4. Check if MySQL is listening on the expected port (default: 3306)
5. Verify firewall settings allow connections to MySQL

In [8]:
sales_df = pd.read_csv("sales_data.csv")
sales_df.head()

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel,Region_and_Sales_Rep
0,1052,2023-02-03,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob
1,1093,2023-04-21,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,West-Bob
2,1015,2023-09-21,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David
3,1072,2023-08-24,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob
4,1061,2023-03-24,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,East-Charlie

In [10]:
# First, make sure your MySQL server is running
# Then, check your connection parameters and update them as needed

from sqlalchemy import create_engine

# Create engine with proper connection parameters
# Format: 'mysql+pymysql://username:password@host:port/database'
engine = create_engine(
    'mysql+pymysql://your_username:your_password@localhost:3306/your_database',
    connect_args={'connect_timeout': 30}  # Add timeout for better error handling
)

# Try connecting with error handling
try:
    sales_df.to_sql("sales_staging", engine, if_exists="replace", index=False)
    print("Data loaded into staging table")
except Exception as e:
    print(f"Connection error: {e}")
    print("Please check if:")
    print("1. MySQL server is running")
    print("2. Connection credentials are correct")
    print("3. Database exists")
    print("4. No firewall is blocking the connection")

Connection error: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'localhost' ([Errno 61] Connection refused)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Please check if:
1. MySQL server is running
2. Connection credentials are correct
3. Database exists
4. No firewall is blocking the connection

In [21]:
sales_df['total_amount'] = sales_df['Quantity_Sold'] * sales_df['Sales_Amount']
sales_df.head()

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel,Region_and_Sales_Rep,total_amount
0,1052,2023-02-03,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob,90971.46
1,1093,2023-04-21,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,West-Bob,74528.34
2,1015,2023-09-21,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David,138936.90
3,1072,2023-08-24,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob,84549.66
4,1061,2023-03-24,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,East-Charlie,48752.60

In [23]:
# First, make sure your MySQL server is running
# Then, check your connection parameters and update them as needed

from sqlalchemy import create_engine

# Create engine with proper connection parameters
# Format: 'mysql+pymysql://username:password@host:port/database'
engine = create_engine(
    'mysql+pymysql://your_username:your_password@localhost:3306/your_database',
    connect_args={'connect_timeout': 30}  # Add timeout for better error handling
)

# Try connecting with error handling
try:
    # Test connection
    connection = engine.connect()
    connection.close()
    
    # If connection successful, proceed with data loading
    sales_df.to_sql("sales_fact", engine, if_exists="replace", index=False)
    print("Data loaded into sales_fact table")
except Exception as e:
    print(f"Connection error: {e}")
    print("Troubleshooting tips:")
    print("1. Check if MySQL server is running")
    print("2. Verify username and password")
    print("3. Confirm host and port are correct")
    print("4. Check for firewall issues")

Connection error: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'localhost' ([Errno 61] Connection refused)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Troubleshooting tips:
1. Check if MySQL server is running
2. Verify username and password
3. Confirm host and port are correct
4. Check for firewall issues

In [26]:
# First, make sure your MySQL server is running
# Then, establish a proper connection with correct credentials

from sqlalchemy import create_engine
import pandas as pd

# Create engine with proper connection parameters
# Replace these values with your actual database credentials
username = "your_username"  # Change to your actual MySQL username
password = "your_password"  # Change to your actual MySQL password
host = "localhost"  # Verify this is correct - could be '127.0.0.1' or actual server IP
port = "3306"       # Verify this is the correct port your MySQL is running on
database = "your_database_name"  # Change to your actual database name

# Create the connection string
connection_string = f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"

# Create the engine with error handling
try:
    engine = create_engine(connection_string)
    # Test the connection
    connection = engine.connect()
    print("Connection successful!")
    
    # Now run your query
    query = "SELECT * FROM sales_fact"
    result_df = pd.read_sql(query, engine)
    print(result_df)
    
    # Close the connection
    connection.close()
    
except Exception as e:
    print(f"Error connecting to MySQL: {e}")
    print("Troubleshooting steps:")
    print("1. Verify MySQL server is running (use 'sudo service mysql status' on Linux or check Task Manager on Windows)")
    print("2. Check your username and password")
    print("3. Verify the database exists")
    print("4. Check if MySQL is listening on the specified port")
    print("5. Ensure no firewall is blocking the connection")

Error connecting to MySQL: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'localhost' ([Errno 61] Connection refused)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Troubleshooting steps:
1. Verify MySQL server is running (use 'sudo service mysql status' on Linux or check Task Manager on Windows)
2. Check your username and password
3. Verify the database exists
4. Check if MySQL is listening on the specified port
5. Ensure no firewall is blocking the connection

In [28]:
# First, make sure your MySQL server is running
# Then, establish a proper connection with correct credentials

from sqlalchemy import create_engine
import pandas as pd

# Create a proper connection string with your actual credentials
# Format: 'mysql+pymysql://username:password@host:port/database_name'
engine = create_engine('mysql+pymysql://your_username:your_password@localhost:3306/your_database')

query = """
SELECT category, SUM(total_amount) AS total_sales
FROM sales_fact
GROUP BY category;
"""

# Test the connection before executing the query
try:
    connection = engine.connect()
    print("Connection successful!")
    
    # Now execute the query
    result = pd.read_sql(query, engine)
    print(result)
    
    # Close the connection
    connection.close()
except Exception as e:
    print(f"Connection error: {e}")

Connection error: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'localhost' ([Errno 61] Connection refused)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)